<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <title>Front End Premium Course</title>
</head>
<body>
    <%- include('nav.ejs') %>

    <section class="text-gray-600 body-font">
        <div class="container px-5 py-24 mx-auto">
          <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <!-- Replace the image with the YouTube embed code -->
                <iframe
                  width="100%"
                  height="100%"
                  src="https://www.youtube.com/embed/12UP_HefB0U?si=xnSMvn0CjPuY7rLu"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3 w">Introduction To Web Development</h2>
              <p class="leading-relaxed text-base w">Introduction About Front End.</p>
              <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Video 1</button>
            </div>
            <div class="sm:w-1/2 mb-10 px-4">
              <div class="rounded-lg h-64 overflow-hidden">
                <!-- Replace the image with the YouTube embed code -->
                <iframe
                  width="100%"
                  height="100%"
                  src="https://www.youtube.com/embed/yuH7O8zpwNc?si=HX-e4JW-fTF7en1J"
                  frameborder="0"
                  allowfullscreen
                ></iframe>
              </div>
              <h2 class="title-font text-2xl font-medium text-gray-900 mt-6 mb-3 w">Which Languages are best for front end </h2>
              <p class="leading-relaxed text-base w">Introduction to which Languages and frame work is best of front end.</p>
              <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded ">Video 2</button>
            </div>
          </div>
        </div>
    </section>
    <style>
        body{
            background-color: #0E1630;
            color:white;
        }
        .w{
          color:white;
        }
    </style>
</body>
</html>
