<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flappy Bird</title>
        <link rel="stylesheet" href="flappybird.css">
        <script src="flappybird.js"></script>
    </head>
    <body>

        <canvas id="board"></canvas>
        <style>
            body {
                font-family:'Courier New', Courier, monospace;
                text-align: center;
            }

            #board {
                /* background-color: skyblue; */
                background-image: url("https://scontent.flhe13-1.fna.fbcdn.net/v/t39.30808-6/417397512_959245819052138_6492110325992517110_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF1IFa8tBYOKMroCY4OnJaWsf13g4iTwSCx_XeDiJPBIPeVa2q0ChuU-GXcg-OwodyCPxUsXzTPZykeLN76UG8V&_nc_ohc=HWAIwq_UfZsAX_m0pyX&_nc_oc=AQkGmbdlVEGstDLT5r5sufmYtdWnWx4pZJa_xyoCScEJpfj265rkE9A8NRPekLanGrQ&_nc_ht=scontent.flhe13-1.fna&oh=00_AfAGfYTNXEXLgAXWCqbAbqPp3BKXQZvzoJq6ivpcEvCulQ&oe=65F42B3F");
            }
        </style>
        <script>

            //board
            let board;
            let boardWidth = 360;
            let boardHeight = 640;
            let context;

            //bird
            let birdWidth = 34; //width/height ratio = 408/228 = 17/12
            let birdHeight = 24;
            let birdX = boardWidth/8;
            let birdY = boardHeight/2;
            let birdImg;

            let bird = {
                x : birdX,
                y : birdY,
                width : birdWidth,
                height : birdHeight
            }

            //pipes
            let pipeArray = [];
            let pipeWidth = 64; //width/height ratio = 384/3072 = 1/8
            let pipeHeight = 512;
            let pipeX = boardWidth;
            let pipeY = 0;

            let topPipeImg;
            let bottomPipeImg;

            //physics
            let velocityX = -2; //pipes moving left speed
            let velocityY = 0; //bird jump speed
            let gravity = 0.5;

            let gameOver = false;
            let score = 0;

            // Sounds
            let backgroundSound = new Audio('./music.mp3'); // replace 'background.mp3' with your background sound file
            let touchSound = new Audio('music.mp3'); // replace 'touch.mp3' with your touch sound file

            window.onload = function() {
                board = document.getElementById("board");
                board.height = boardHeight;
                board.width = boardWidth;
                context = board.getContext("2d"); //used for drawing on the board

                //load images
                birdImg = new Image();
                birdImg.src = "https://scontent.flhe13-1.fna.fbcdn.net/v/t39.30808-6/419039096_959246189052101_6782607175526331206_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeHTCnYIew_EcPzDm2cEffQyFI0GlS1-UZgUjQaVLX5RmOz9PnluKYDr9VPFlvwQyCMtbv9HVzADE5HsijoB130H&_nc_ohc=u3z1AjDqH6YAX9okDVd&_nc_ht=scontent.flhe13-1.fna&oh=00_AfAcGwBKTW4Jv_Y32OqZFVCQAah8Dae0bp-mBIKAdZVMHw&oe=65F41E59";
                birdImg.onload = function() {
                    context.drawImage(birdImg, bird.x, bird.y, bird.width, bird.height);
                }

                topPipeImg = new Image();
                topPipeImg.src = "https://scontent.flhe13-1.fna.fbcdn.net/v/t39.30808-6/420201456_959250622384991_435582013016848001_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGs1au290JryZOO0CkXbzP3LwXZsSy1ANYvBdmxLLUA1pTBaSxy4iMY5yK0FD4hjkBe3uv34iQJ2nm-SA_jeaUn&_nc_ohc=ZhSjOhPo3HUAX-l1zII&_nc_ht=scontent.flhe13-1.fna&oh=00_AfBTm7ivs7b8IdLBMzxgRZOCwUUZL4KqXR5HQ8lHPn5MqA&oe=65F4D321";

                bottomPipeImg = new Image();
                bottomPipeImg.src = "https://scontent.flhe13-1.fna.fbcdn.net/v/t39.30808-6/420281361_959247029052017_5224323312291210079_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFIwwgExSB_PbEwWyZuBmGxTN5GxyY1xY5M3kbHJjXFjibPPeY0c9sZioYa1jAbcom8jqSvUVz2DKUeaDxzF-dS&_nc_ohc=Z6sUBrs9uVYAX_RvHv5&_nc_ht=scontent.flhe13-1.fna&oh=00_AfCqGOjr2aa4iJZtGididXS0Cf8O_kq8xNlC59Yh4m7EeA&oe=65F3C1CD";

                requestAnimationFrame(update);
                setInterval(placePipes, 1500); //every 1.5 seconds
                document.addEventListener("keydown", moveBird);

                // Start background sound
                backgroundSound.loop = true;
                backgroundSound.play();
            }

            function update() {
                requestAnimationFrame(update);
                if (gameOver) {
                    return;
                }
                context.clearRect(0, 0, board.width, board.height);

                //bird
                velocityY += gravity;
                bird.y = Math.
                max(bird.y + velocityY, 0);
                context.drawImage(birdImg, bird.x, bird.y, bird.width, bird.height);

                if (bird.y > board.height) {
                    gameOver = true;
                }

                //pipes
                for (let i = 0; i < pipeArray.length; i++) {
                    let pipe = pipeArray[i];
                    pipe.x += velocityX;
                    context.drawImage(pipe.img, pipe.x, pipe.y, pipe.width, pipe.height);

                    if (!pipe.passed && bird.x > pipe.x + pipe.width) {
                        score += 0.5;
                        pipe.passed = true;
                    }

                    if (detectCollision(bird, pipe)) {
                        gameOver = true;
                    }
                }

                //clear pipes
                while (pipeArray.length > 0 && pipeArray[0].x < -pipeWidth) {
                    pipeArray.shift();
                }

                //score
                context.fillStyle = "white";
                context.font="45px sans-serif";
                context.fillText(score, 5, 45);

                if (gameOver) {
                    context.fillText("GAME OVER", 5, 90);
                }
            }

            function placePipes() {
                if (gameOver) {
                    return;
                }

                let randomPipeY = pipeY - pipeHeight/4 - Math.random()*(pipeHeight/2);
                let openingSpace = board.height/4;

                let topPipe = {
                    img : topPipeImg,
                    x : pipeX,
                    y : randomPipeY,
                    width : pipeWidth,
                    height : pipeHeight,
                    passed : false
                }
                pipeArray.push(topPipe);

                let bottomPipe = {
                    img : bottomPipeImg,
                    x : pipeX,
                    y : randomPipeY + pipeHeight + openingSpace,
                    width : pipeWidth,
                    height : pipeHeight,
                    passed : false
                }
                pipeArray.push(bottomPipe);
            }

            function moveBird(e) {
                if (e.code == "Space" || e.code == "ArrowUp" || e.code == "KeyX") {
                    velocityY = -6;
                    touchSound.play();

                    if (gameOver) {
                        bird.y = birdY;
                        pipeArray = [];
                        score = 0;
                        gameOver = false;
                    }
                }
            }

            function detectCollision(a, b) {
                return a.x < b.x + b.width &&
                    a.x + a.width > b.x &&
                    a.y < b.y + b.height &&
                    a.y + a.height > b.y;
            }

            document.addEventListener("touchstart", handleTouchStart);
            document.addEventListener("touchend", handleTouchEnd);

            function handleTouchStart(e) {
                if (e.touches.length === 1) {
                    e.preventDefault();
                    moveBirdUp();
                }
            }

            function handleTouchEnd(e) {
                e.preventDefault();
                // You can add additional logic for touch end if needed
            }

            function moveBirdUp() {
                velocityY = -6;
                touchSound.play();

                if (gameOver) {
                    bird.y = birdY;
                    pipeArray = [];
                    score = 0;
                    gameOver = false;
                }
            }
        </script>
    </body>
</html>
