<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <title>Gaming Nav Bar</title>
</head>
<body>

    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
         
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a class="f mr-5 hover:text-gray-900" href="http://localhost:3000/pingpong">Ping Pong</a>
            <a class="f mr-5 hover:text-gray-900" href="http://localhost:3000/game">Snake</a>
            <a class="f mr-5 hover:text-gray-900" href="http://localhost:3000/tictacgame">Tic Tac</a>
            <a class="f mr-5 hover:text-gray-900" href="http://localhost:3000/guess">Guess Game</a>
          </nav>
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Button
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
    <style>
      nav{
        color:white;
        
      }
      .f:hover{
        color:gold;
      }
    </style>
</body>
</html>