<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <title>Document</title>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <!-- Replace Tailwind logo with Bitcoin logo -->
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="https://media.istockphoto.com/id/1047259374/photo/programming-source-code-abstract-background.webp?s=2048x2048&w=is&k=20&c=JjAc-lnJXIFeH3Jb25ICSEseUHeGfToOleoJpiHjLGA=" alt="Bitcoin Logo" class="w-10 h-10 rounded-full">
            <span style="color:white" class="ml-3 text-xl"><span  class="sg" >W</span>elcome <span class="sg" >T</span>o <span class="sg" >P</span>remium</span>
          </a>
          <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="a mr-5 hover:text-gray-900" href="http://localhost:3000/cryptocourse">Crypto Course</a>
            <form action="" method="get">

              <a class="a mr-5 hover:text-gray-900" href="http://localhost:3000/tradingsignal">Trading Signals</a>
            </form>
            <a class="a mr-5 hover:text-gray-900" href="http://localhost:3000/frontend">Front End</a>
            <a class="a mr-5 hover:text-gray-900" href="http://localhost:3000/backend">Backend</a>
          </nav>
          <button class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">Contact
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </button>
        </div>
      </header>
      <style>
        header{
          background-color: #0E1630;
          color:white;
        }
        nav a{
          color:white;
        }
        .sg{
          color:#01D293;
        }
        .a:hover{
          color:#01D293;
        }
        
      </style>
</body>
</html>
