.gjf{
    color:#03B785;
    font-size: 52px;
    font-family:'Times New Roman', Times, serif ;
    
}
.gjt{
    background-color: white;
    color:black;
}
.gjt:hover{
    background-color: antiquewhite;
    color:#03B785;
}
@media screen and (max-width:767px) {
    .kl{
        position: relative;
        bottom:230px;
    }
    
}
@media screen and (max-width:1200px) and (min-width:767px){
    .ml{
        position: relative;
        bottom:500px;
    }
    
}
@media screen and (max-width:767px){
    .gjf{
        font-size: 32px;
        color:#03B785;
        }
}



@keyframes revealAnimation {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .reveal {
    animation: revealAnimation 0.5s ease forwards;
  }

  @media screen and (max-width:767px) {
    .ppl{
        
            margin-top:300PX ;
        
    }
    
  }