.gjf{
    color:#03B785;
    font-size: 52px;
    font-family:'Times New Roman', Times, serif ;
    
}
.gjt{
    background-color: white;
    color:black;
}
.gjt:hover{
    background-color: antiquewhite;
    color:#03B785;
}
@media screen and (max-width:767px) {
    .kl{
        position: relative;
        bottom:230px;
    }
    
}
@media screen and (max-width:1200px) and (min-width:767px){
    .ml{
        position: relative;
        bottom:500px;
    }
    
}
@media screen and (max-width:767px){
    .gjf{
        font-size: 32px;
        color:#03B785;
        }
}



