.bgr{
    border:solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:300px;
}
.fg{
    color:#01D293;
}
.lgs{
    list-style: circle;
    color:white;
}

.fg:hover {
    display: flex;
    justify-content: center;
    transition: 2s;
  }
  
  @media screen and (max-width:1200px) and (min-width:767px) {
    .lmgs{
        position: relative;
        bottom:200px;
    }
    
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}
