.umersohail{
    color:white;
    font-size:32px ;
}
.c{
    color:#01D293;
}
body{
    color:white;
}
.n{
    color:white;
}
.hk:hover{
    background-color: antiquewhite;
    color:#01D293;
}
@media screen and (max-width:767px) {
    
    .fff{
        margin-top: 390px;
    }
    .d{
        position: relative;
        bottom:800px;
    }
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 0.5s ease-in-out;
  }
  

