.nav a:hover{
    color:#01D293;

}
.nav a{
    color:white;
    
}
.x{
    margin:23px;
}
.fp{
    background-color: #0E1630;
}
@media screen and (max-width:768px)and (min-width:1024px) {
    .x{
        display: none;
    }
  
    
}
