
  
  body{
    background-color: #0E1630;
    color:white;
    padding-left: 90px;
    padding-right:90px;
  }

@media screen and (max-width:768px) {
  body{
    padding:0px 10px 0px 10px;
  }
  
}
@media screen and (max-width:280px){
  body{
    padding:0px 0px 0px 0px;
  }
}